

/* Elimina márgenes del navegador */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}


.logo-image:hover {
  filter: drop-shadow(0 0 2em #f0d356aa);
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.main-layout {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  min-height: 100vh;
  text-align: center;

  /* Fondo del contenedor principal */
  background-color: #1d1c00;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.navbar {

  /* border: 2px dashed red;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #181201;
  color: white;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  top: 0;
  padding: 0.8rem 2rem;
   filter: drop-shadow(0 0 2em #d37d2cda);


  /* 👇 Esta es la línea que agregás */
  min-height: 100px;  /* o el valor que prefieras */
}



.logo{

  font-size:bold;

  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.logo-text {
  font-size: 1rem;
  font-family: comic sans ms;
  color: rgb(243, 208, 11);
  font-weight: monospace;
  margin-top: 0.1px;  /* 👈 espacio entre la imagen y el texto */

}


.logo-image {
  width: 120px;   /* Cambiá este valor como quieras */
  height: 60px;
  object-fit: scale-down; /* O "cover" si querés que recorte y llene el espacio */
}


/* Lista de enlaces en horizontal */
.nav-links {
  list-style: none;
  display: flex;
  gap: 6rem;
  align-items: center;
  margin: 0;
  padding: 0;
  
 
}

/* Estilo de los enlaces */
.nav-links a {
  color: rgb(236, 238, 131);
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  text-decoration: none;
  border: #181201;
  
font-size:18px;
}

.nav-links :hover {

   filter: drop-shadow(0 0 2em #facd04aa);
   
}


.saludo {
  font-style: italic;
  font-size: 1.4rem;
  color: #fffadb;
  text-align: center;
}


.cart-widget {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: violet;
font-size: 20px;
font-family: 'Arial Narrow';
  font-weight: bold;
  text-decoration: none;
  border: #181201;
  margin-left: 1rem;

}

.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

