

/* Elimina márgenes del navegador */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}


.logo-image:hover {
  filter: drop-shadow(0 0 2em #f0d356aa);
}
.logo-image.react:hover {
  filter: drop-shadow(0 0 2em #eeb826aa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.main-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;

  /* Fondo del contenedor principal */
  background-color: #1d1c00;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

/* Estilo general de la barra */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #181201;
  color: white;
  width: 100%;
  box-sizing: border-box;
}

/* Logo a la izquierda */
.logo-image {
  font-size: 1.5rem;
  font-weight: bold;
  gap: 0.5rem; /* espacio entre texto e imagen */
}

/* Lista de enlaces en horizontal */
.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  margin: 0;
  padding: 0;
}

/* Estilo de los enlaces */
.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  text-decoration: underline;
}


.saludo {
  font-style: italic;
  font-size: 1.4rem;
  color: #fffadb;
  text-align: center;
}


